@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ul>
    <li><p>This application can manage the list of acuaintances by adding, editing, deleting and creating items. </p></li>
    <li><p>Also you can search person with searcher, or separate users by the chosen character.</p></li>
    <li><p>
    All models are validated, so in Create and Edit forms all spaces must be filled, and spaces with Email and
    Phone should contain only required data.
</p></li>
</ul>



