@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">This application is a test</h1>
    <p class="lead text-center">Description of this app is available in "About"</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Information</h2>
        <p>
           Sed rebum assum sanctus eum at ut takimata et magna hendrerit consetetur labore lorem vel sit et est sit erat consetetur et feugiat erat et diam accumsan tempor clita eu justo sadipscing vero sanctus invidunt elitr adipiscing ipsum invidunt justo sed volutpat sea amet et gubergren sea velit est amet
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Information</h2>
        <p>
            Sed rebum assum sanctus eum at ut takimata et magna hendrerit consetetur labore lorem vel sit et est sit erat consetetur et feugiat erat et diam accumsan tempor clita eu justo sadipscing vero sanctus invidunt elitr adipiscing ipsum invidunt justo sed volutpat sea amet et gubergren sea velit est amet
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Information</h2>
        <p>
            Sed rebum assum sanctus eum at ut takimata et magna hendrerit consetetur labore lorem vel sit et est sit erat consetetur et feugiat erat et diam accumsan tempor clita eu justo sadipscing vero sanctus invidunt elitr adipiscing ipsum invidunt justo sed volutpat sea amet et gubergren sea velit est amet
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>